body {
        background-color: white;
        font-family: Helvetica, Arial, sans-serif;
      }

.title{
  font-size: 42px;
  color: white;
}

#authorName{
  font-size: 16px;
  color: white;
  margin-left: 1px;
}

.sectionTitle{
  font-size: 32px;
  color: white;
}

svg {
       /* background-color: white; */
    }


.section{
  width: 100%;
}

#wrapper{
  width: auto;

}

#content{
  height: auto;
  width: 450px;
  margin-left: 20px;
  float: left;
  background-color: #000000;
}

p{
  font-size: 14px;
}

#contentInfo{
  font-size: 14px;
  color: white;
  margin-left: 1px;
  width: auto;
}

#source{
  font-size: 12px;
  color: white;
  margin-left: 1px;
  margin-top: 20px;
  width: 100%;

}

#overdose{
  width: 65%;
  float: right;
}

#scatter{
  width: 65%;
  float: right;
}

a{
  color: white;
}

a:hover{
  color: #13B340;
}

/* OVER DOSE MULTILINE CHART */
      .axis path,
      .axis line {
        fill: none;
        stroke: white;
        stroke-width: 1px;
      }

      .line {
        fill: none;
        stroke: gray;
        stroke-width: 2px;
        stroke-opacity: 80%;
      }

      .line.unfocused{
        stroke-opacity: 40%;
      }

      .line.focused {
        stroke-width: 10px;
        stroke-opacity: 100%;
        stroke:#13B340;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 12px;
        margin-top: 10px;
        stroke: white;
      }

      .tooltip {
        position: absolute;
        z-index: 10;
      }

      .tooltip p {
       /* background-color: #43B35F; */
        border: none;
        font-size: 24px;
        padding: 2px;
        color: white;
      }

  /* ///////////////////////////////////// */




/* SMALL MULTIPLES CHART HIGHSCHOOL DRUG TRENDS */
#header{
  border-bottom:1px solid #ccc;
  margin:20px 26px 20px 20px;
}
#header h1{
  font-size:2.4em;
  font-family:Georgia,Palatino,serif;
  font-weight:normal;
}
#header p{
  font-family:Georgia,Palatino,serif;
  font-size:1.3em;
  line-height:1.4em;}

#explain {
  margin: 0 0 0 20px;
}

#explain h3{
  font-size:1.5em;
  margin:0 0 0.5em 0;
  padding:0;
}

#explain p{
  font-size:1.2em;
  line-height:1.4em;
  color:#717171;
  margin-top:0;
}

#filters{
  margin:0 24px 10px 16px;
  float:right;
}

.area{
  fill:#00362B;
  stroke: #888;
  stroke-width: 0.5px;
}

.line {
  fill:none;
  /*stroke:green;*/
  stroke-width:1.5px;
}

.endpoint {
  fill: green;
}

#filters table{
  border-collapse:collapse;
  border-top:1px solid #ccc;
}

#filters table td{
  padding:0;margin:0;
}

#filters a{
  display:block;
  padding:2px 4px;
  font-size:1.1em;
  color:#ffffff;
  background:#00362B;
  cursor:pointer;
  border-left:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;

  margin-bottom: 10px;
  overflow:hidden;
}

#filters a:hover{
  text-decoration:underline;
}
#filters a.current{
  background:#fff;color:#000;
  font-weight:bold;
}
#filters a.current:hover{
  text-decoration:none;
}

.left{
  float:left;
}

.clr{
  clear:both;
}

.label {
  fill: white;
  font-size: 1.1em;
}


.y.axis text, .axislabel {
  font-size: .85em;
  fill: #ffffff;
}


