body {
        background-color: white;
        font-family: Helvetica, Arial, sans-serif;
      }




      p {
        font-size: 14px;
        margin: 10px 0 0 0;
      }

      svg {
       /* background-color: white; */
      }

.section{
  width: 100px;
}
#content{
  height: auto;
  width: 30%;
  float: left;
  background-color: blue;
}

#overdose{
  width: 50%;
  float: right;
}

/* OVER DOSE MULTILINE CHART */
      .axis path,
      .axis line {
        fill: none;
        stroke: white;
        stroke-width: 1px;
      }

      .line {
        fill: none;
        stroke: gray;
        stroke-width: 2px;
        stroke-opacity: 80%;
      }

      .line.unfocused{
        stroke-opacity: 40%;
      }

      .line.focused {
        stroke-width: 10px;
        stroke-opacity: 100%;
        stroke:#13B340;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 12px;
        margin-top: 10px;
        stroke: white;
      }

      .tooltip {
        position: absolute;
        z-index: 10;
      }

      .tooltip p {
       /* background-color: #43B35F; */
        border: none;
        font-size: 24px;
        padding: 2px;
        color: white;
      }

  /* ///////////////////////////////////// */
